html{
    scroll-behavior: smooth; 
}
*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: 20px;
}
a{
    color: #000;
}

.toTop-btn:hover{
    background-color: rgb(255, 180, 180);
    transition: .5s;
}
.toTop-btn{
    position: fixed;
    width: 2.5em;
    height: 2.5em;
    background-color: #111;
    border-radius: 50%;
    right: 10px;
    bottom: 50px;
    z-index: 1;
    color: #fff;
    text-align: center;
    line-height:2.5em;
    padding: 0;
}
.about{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.about ul {
    display: flex;
    color: #777;
    line-height: 3em;
}
.about address a:hover{
    color: rgb(255, 184, 187);
    transition: .5s;
}

.about ul:first-child li:first-child::after {
    content: "|";
    padding: .5em;
}
.about ul:not(:nth-child(1)) li:not(:nth-child(4)) {
    border-right: 1px solid #eee;
    padding: 0 1em;
    position: relative;
}
.count{
    background-color: rgb(255, 180, 180);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    text-align:center;
    color: #fff;
    top: 7px;
    right: 1em;
    line-height: 1em;
}
.search-list li{
    width: 4em;
    text-align: center;
}

.about ul:not(:nth-child(1)) li:not(:nth-child(4)) {
    border-right: 1px solid #eee;
    padding: 0 .5em;
    position: relative;
}
.about input {
    border: none;
    padding-left: 1em;
    width: 4em;
    font-size: 1em;
}

.about input:focus {
    outline: none;
}

.fa-magnifying-glass:hover {
    color: rgb(255, 184, 187);
}

.nav-search li:nth-child(n+1):nth-child(-n+3):hover {
    border-bottom: 3px solid rgb(255, 184, 187);
    margin-bottom: -3px;
}
.split {
    border-bottom: 1px solid #eee;
    margin-bottom: 1em;
    vertical-align: bottom;
}
/* ============================================= */
.nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 1em auto;
}

.nav h1 {
    width: 1px;
    overflow: hidden;
}

.logo img {
    width: 100%;
}

.menu ul,
.community ul {
    display: flex;
}
.menu li:first-child a{
    color: rgb(255, 184, 187);
}

.menu li {
    padding: 1em;
    font-weight: 900;
}
.menu a:hover{
    color: rgb(255, 184, 187);
    transition: .5s;
}

.community li {
    padding: .5em;
    line-height: 2em;
}

.nav .community i {
    color: #bbb;
}

.nav .community i:hover {
    color: #000;
    transition: .5s;
}
/* ==================================== */
.discount {
    background-color: rgb(251, 251, 252);
    position: relative;
}
.discount h2{
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.discount div:first-child {
    width: 1200px;
    margin: auto;
}

.discount img {
    width: 100%;
}

.discount h3 {
    font-weight: 600;
    font-size: 1em;
}

.discount ul {
    display: flex;
    text-align: center;
    margin: auto;
    width: 1200px;
    justify-content: space-between;
}

.discount li {
    flex-grow: 1;
    margin: 1em 0;
    padding: 1em;
}
.discount li p{
    color: #aaa;
}

.discount li:nth-child(1) {
    background-color: rgb(255, 229, 229);
    margin-right: .5em;
}

.discount li:nth-child(2) {
    background-color: rgb(255, 236, 229);
}

.discount li:nth-child(3) {
    background-color: rgb(255, 245, 229);
    margin-left: .5em;
}
/* ================================================ */
.style-types{
    width: 1200px;
    margin: auto;
    padding: 2.5em 0;
}

.style-types h2{
    text-align: center;
    font-size: 1.5em;
    margin: 4em;
}

.style-types .style-list{
    display: flex;
    justify-content: space-between;
}
.style-list img{
    width: 100%;
    margin-bottom: 1em;
}
.style-list li h3{
    padding: .5em;
}
.style-list li h3::before{
    content: "— ";
}
.style-list li h3:hover{
    color: rgb(255, 184, 187);
    transition: .5s;
}
.types-bcc{
    background-color: rgb(255, 236, 229);
    width: 100%;
    height: 22em;
    position: absolute;
    z-index: -1;
    top: 75em;
}
/* ========================================== */
.favourite{
    display: flex;
    width: 1200px;
    margin: auto;
    position: relative;
    margin: 5em auto;
}
.favourite-pic{
    width: 50%;
    padding-right: 2em;
}
.favourite-pic img{
    width: 80%;
}
.favorite-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.favorite-text h2{
    font-size: 2em;
    width: 50%;
    margin-bottom: 1em;
}
.favorite-text p{
    width: 50%;
    font-size: 1em;
    color:rgb(113, 113, 118) ;
    margin-bottom: 40px;
}
.favorite-text div{
    text-align: center;
    width: 6em;
}
.favourite-bcc{
    background-color: rgb(246, 246, 246);
    width: 30em;
    height: 24em;
    position: absolute;
    top: -3em;
    left: 4em;
    z-index: -1;
}
.shop-btn{
    display: inline-block;
    background-color: #000;
    padding: 1em;
}
.shop-btn a{
    color: #fff
}
.shop-btn:hover{
    background-color: rgb(255, 184, 187);
    transition: .5s;
}
/* ============================== */
.fitting{
    display: flex;
    width: 100%;            
}
.fitting a{
    flex-grow: 1;
}

.fitting h3{
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
}

.fitting h3::after{
    content: '';
    display: block;
    width: 0%;
    height: 3px;
    margin: .5em auto;
    background-color: #fff;
    
}
.fitting div:hover h3::after{
    width: 75%;
    transition: .5s ;
}
.fitting p{
    text-align: center;
    width: 55%;
    margin: auto;
    padding-bottom: 1em;
}
.fitting img{
    width: 75%;
    margin: auto;
    display: block;
}
.fitting div{
    height: 100%;
}
.belt{
   background-color: rgb(255, 229, 229);
}
.bags{
    background-color:rgb(255, 236, 229) ;
}
.sunglasses{
    background-color:rgb(255, 245, 229) ;
}
/* =================================================== */
.models{
    width: 90%;
    margin: auto;;
}
.models h2{
    text-align: center;
    margin: 2em;
    font-size: 1.5em;
}
.model-list ul{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    }
.model-list li{
    width: 270px;
    margin: 15px;
    line-height: 1.5em;
    position: relative;
}
.model-list img{
    width: 100%;
}
.model-list h3{
    font-size: 12px;
    padding: 3px 0;
    color: #aaa;
}
.model-list li p:last-child{
    font-weight: 900;
}
.featured{
    background-color: rgb(254, 191, 1);
    display: inline-block;
    padding: 3px 10px;
    color: #fff;
    position: absolute;
    top: 1em;
    right: 0;
}
.model-list li div:first-child{
    position: relative;
}
.pic-shadow{
    width: 100%;
    height: 98.6%;
    background-color: #000;
    position: absolute;
    top: 0;
    opacity: 0%;
}
.model-list li div:first-child:hover .pic-shadow{
    opacity: 30%;
    transition: .5s;
}
/* ========================================= */
.banner{
    background-image: url(./banner.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    font-weight: 900;
    line-height: 2.5em;
    padding: 5em;
}

.banner h3{
    font-size: 60px;
    margin-bottom: 40px;
}
.banner h3 span{
    font-size: 12px;
}
.banner a{
    background-color: #000;
    color: #fff;
    font-size: 18px;
    padding: 20px 50px;
   
}
.banner a:hover{
    background-color: rgb(255, 184, 187);
    transition: .5s;
}
/* ===================================================== */

.blog{
    width: 1200px;
    margin: auto;
    position: relative;
}
.blog h2{
    text-align: center;
    margin: 40px;
    font-size: 30px;
}
.blog ul{
    display: flex;   
}
.blog li{
    width: 50%;
    padding: 20px;
}
.blog-text{
    background-color: rgb(246, 246, 246);
    padding: 20px;
    text-align: left;
    width: 88%;
    position: relative;
    top: -70px;
    left: 40px;
}
.blog-text h3{
    font-size: 24px;
    margin: 20px 10px;
    font-weight:600;
}
.blog-text p{
    line-height: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 0 20px;
    
}
.blog-text address p, .blog address a{
    color: #aaa
}
.blog a:hover{
    color: rgb(255, 180, 180);
    transition: .5s;
}
/* ========================================= */
.subscribe{
    width: 1200px;
    display: flex;
    background-color: rgb(255, 236, 229);
    padding: 1em;
    margin: auto;
    box-sizing: border-box;
}
.subscribe h3{
    width: 50%;
    padding: 0 1em;
    font-size: 1.6em;
    display: block;
    margin: auto;
}
.subscribe div:not(.buttom){
    width: 50%;
    display: flex;
    padding: 0 .5em;

}
.subscribe input{
    width: 150%;
    margin-right: 10px;
    border: none;
    padding-left: 1em;
    font-size: 1em;
}
.subscribe input:focus{
    outline: none;
}
.subscribe-btn a{
    color: #fff;
    background-color: #000;
    padding: 1em 1.5em;
}
.subscribe-btn a:hover{
    background-color: rgb(255, 180, 180);
    transition: .5s;
}

/* ============================================ */
.ig{
    padding-top: 60px;
}
.ig h2{
    text-align: center;
    font-size: 2em;
}
.ig p{
    color: #aaa;
    margin: 2em 0 0 2em;
}
/* =============================================== */
.footer{
background-color: #000;
color: #fff;

}
.footer div{
    display: flex;
    margin:  auto;
    width: 1200px;
    justify-content: space-between;
    padding: 30px 0;
}
.footer div:last-child{
    padding: 10px 0;
}
.footer .split{
    border-bottom: #333 1px solid;
    width: 100%;
    margin-top: -60px;
}
.footer li{
    line-height: 30px;
}
.footer a{
    color: #fff;
}
.footer a:hover{
    color: rgb(239, 174, 180);
    transition: .5s;
}
.footer .community{
    justify-content: flex-end;
}
.footer li{
    font-weight: lighter;
}
.footer h2{
    font-weight: 900;
    font-size: 1em;
    margin-bottom: 1em;
}
/* =========================================== */
.block{
width: 40em;
height: 40em;
position:fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
z-index: 2;
}
.block-bcc{
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 60%;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}
.remove-btn{
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -1em;
    right: -1em;
    cursor: pointer;
}
label{
    cursor: pointer;
}
.block img{
    width: 100%;
}
#ad-crl{
    display: none;
}
input:checked + .block{
    display: none;
}
